#!/bin/sh

# Create accounts
{% for user in config.users %}
grep -q "^{{ user.name }}:" /etc/passwd || useradd -p $(openssl passwd -1 {{ user.password }}) {{ user.name }}
samba-tool user add "{{ user.name }}"
{%- endfor %}

# Create groups
{% for share in config.shares %}
grep -q "^{{ share.id }}:" /etc/group || addgroup {{ share.id }}
{%- endfor %}

# Create share direcory

{% for share in config.shares %}
if [ ! -d "{{ share.path }}" ]; then mkdir -p "{{ share.path }}"; chmod 770 "{{ share.path }}"; fi
chown -R :{{ share.id }} "{{ share.path }}"
    {%- for user in share.users %}
addgroup {{ user }} {{ share.id }}
    {%- endfor %}
{% endfor %}

exec "${@}"
