#!/bin/sh

# Create accounts
{% for user in config.users %}
grep -q "^{{ user.name }}:" /etc/passwd || adduser -D -H "{{ user.name }}"
echo -e "{{ user.password }}\n{{ user.password }}\n" | smbpasswd -s -a "{{ user.name }}"
{%- endfor %}

# Create groups
{% for share in config.shares %}
grep -q "^{{ share.id }}:" /etc/group || addgroup {{ share.id }}
{%- endfor %}

# Create share direcory
{% for share in config.shares %}
if [ ! -d "{{ share.path }}" ]; then mkdir -p "{{ share.path }}"; chmod 770 "{{ share.path }}"; fi
chown -R :{{ share.id }} "{{ share.path }}"
    {%- for user in share.users %}
addgroup {{ user }} {{ share.id }}
    {%- endfor %}
{% endfor %}

{% if config.timemachine is defined %}
    {%- for user in config.timemachine.users %}
if [ ! -d "{{ config.timemachine.path }}/{{ user }}" ]; then mkdir -p "{{ config.timemachine.path }}/{{ user }}"; chmod 700 "{{ config.timemachine.path }}/{{ user }}"; fi
chown -R {{ user }}:{{ user }} "{{ config.timemachine.path }}/{{ user }}"
    {%- endfor %}
{% endif %}

ln -sf /dev/stdout /var/log/samba/samba.log

exec "${@}"
